body {
	color: hsl(219, 96%, 47%);
	background: #fafaf0;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}
main {
    margin-left: 16.666667%; /* Same width as the sidebar to prevent overlap */
    padding: 20px;
}
.sidebar {
	background-color: #022b54d8;
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
	color: white;
	padding-top: 50px;
	height: 100vh;
	top: 0;
    left: 0;
	width: 16.666667%; /* This matches col-md-2 */
	position: fixed;
}
.sidebar .nav-link {
	color: white;
}
.sidebar .nav-link.active {
	font-weight: bold;
}
.btn {
	height: 60px;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-left: 5px solid #ffcc00; /* Mustard yellow border on the left */
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007BFF;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

thead th {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
}

tbody tr {
    border-bottom: 1px solid #ddd;
    transition: all 0.3s;
}

tbody tr:nth-child(even) {
    background-color: #fffaf0; 
}

tbody tr:hover {
    background-color: #eae9e9;
}

tbody td {
    padding: 12px 15px;
    text-align: center;
}

tbody tr:last-child {
    border-bottom: none;
}